<div class="answer_background">
  <div class="answer_container">
    <div class="title">
      Mission Complete
    </div>
    <div class="attention">
      先生の秘密情報を入手することに<br><strong style="color:blue">成功</strong>しました
    </div>
    <div class="description">
      ※これは教育用のデモサイトです※  <br>現実では、不正アクセスという犯罪です<br>絶対に真似しないでください。<br><br>逮捕されるよ！
    </div>
    <div class="police1">
      <img src='/assets/police.png' class="police">
    </div>
    <div class="police2">
      <img src='/assets/police.png' class="police">
    </div>
  </div>
</div>