<body class="body">
  <div class="w-layout-grid grid-2">
    <%=render partial: "layouts/header.html.erb"%>
    <%=render partial: "layouts/sidebar.html.erb"%>    
    <div id="w-node-_63be6efd-b44a-669a-ac53-63581da9b3aa-084b46f8" class="section-3 wf-section">
      <div class="div-block-2">
        <div class="text-block"><strong>友達</strong></div>
      </div>
      <ul role="list" class="list">
        <li class="list-item-3"></li>
        <a href='/chats/chat1'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/いのうえ.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/いのうえ.jpeg 500w, /assets/いのうえ.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>いのうえ</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat2'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/純.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/純.jpeg 500w, /assets/純.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>純</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat3'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/山口先生.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/山口先生.jpeg 500w, /assets/山口先生.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>山口先生</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat4'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/T-mo.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/T-mo.jpeg 500w, /assets/T-mo.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>T-mo</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat5'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/shun.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/shun.jpeg 500w, /assets/shun.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>shun</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat6'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/YOKO.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/YOKO.jpeg 500w, /assets/YOKO.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>YOKO</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat7'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/ヒー.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/ヒー.jpeg 500w, /assets/ヒー.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>ヒー</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat8'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/奥村ともき.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/奥村ともき.jpeg 500w, /assets/奥村ともき.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>奥村ともき</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat9'>
          <li class="list-item-4">
              <div class="w-layout-grid grid-4"><img src="/assets/ひろしオチ.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/ひろしオチ.jpeg 500w, /assets/ひろしオチ.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>ひろしオチ</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat10'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/社長のアイコン.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/社長のアイコン.jpeg 500w, /assets/社長のアイコン.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>masa</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat11'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/宮澤先生.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/宮澤先生.jpeg 500w, /assets/宮澤先生.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>宮澤先生</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat12'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/スズキー.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/スズキー.jpeg 500w, /assets/スズキー.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>スズキー</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat13'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/どめさん.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/どめさん.jpeg 500w, /assets/どめさん.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>どめさん</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat14'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/yoshino-.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/yoshino-.jpeg 500w, /assets/yoshino-.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>yoshino-</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat15'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/わたらい氏.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/わたらい氏.jpeg 500w, /assets/わたらい氏.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>わたらい氏</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat16'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/みつなが先生.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/みつなが先生.jpeg 500w, /assets/みつなが先生.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>みつなが先生</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat17'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/社長のアイコン.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/社長のアイコン.jpeg 500w, /assets/社長のアイコン.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>まこと</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat18'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/梅まさヨ.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/梅まさヨ.jpeg 500w, /assets/梅まさヨ.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>梅まさヨ</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat19'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/Harumi.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/Harumi.jpeg 500w, /assets/Harumi.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>Harumi</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat20'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/社長のアイコン.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/社長のアイコン.jpeg 500w, /assets/社長のアイコン.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>K.M</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat21'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/Miho.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/Miho.jpeg 500w, /assets/Miho.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>Miho</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat22'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/社長のアイコン.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/社長のアイコン.jpeg 500w, /assets/社長のアイコン.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>渡辺</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat23'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/社長のアイコン.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/社長のアイコン.jpeg 500w, /assets/社長のアイコン.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>和田りょー</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat24'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/社長のアイコン.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/社長のアイコン.jpeg 500w, /assets/社長のアイコン.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>麻里子</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat25'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/めぐゆー.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/めぐゆー.jpeg 500w, /assets/めぐゆー.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>めぐゆー</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat26'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/まーぼう.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/まーぼう.jpeg 500w, /assets/まーぼう.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>まーぼう</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat27'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/社長のアイコン.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/社長のアイコン.jpeg 500w, /assets/社長のアイコン.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>ぽんかやお</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat28'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/LAMP.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/LAMP.jpeg 500w, /assets/LAMP.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>LAMP</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat29'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/社長のアイコン.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/社長のアイコン.jpeg 500w, /assets/社長のアイコン.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>ｋ_ko</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat30'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/社長のアイコン.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/社長のアイコン.jpeg 500w, /assets/社長のアイコン.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>Motuo</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat31'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/ゆー.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/ゆー.jpeg 500w, /assets/ゆー.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>ゆー</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat32'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/社長のアイコン.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/社長のアイコン.jpeg 500w, /assets/社長のアイコン.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>もっちっち</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat33'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/社長のアイコン.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/社長のアイコン.jpeg 500w, /assets/社長のアイコン.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>ももよ</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat34'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/社長のアイコン.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/社長のアイコン.jpeg 500w, /assets/社長のアイコン.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>りなっこりー</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/chat35'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/社長のアイコン.jpeg" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/社長のアイコン.jpeg 500w, /assets/社長のアイコン.jpeg 512w" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>わかな</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10"></strong></div>
            </div>
          </li>
        </a>
      </ul>
    </div>
  </div>
</body>
