<body class="body">
  <div class="w-layout-grid grid-2">
    <%=render partial: "layouts/header.html.erb"%>
    <%=render partial: "layouts/sidebar.html.erb"%>
      
    <div id="w-node-_63be6efd-b44a-669a-ac53-63581da9b3aa-084b46f8" class="section-3 wf-section">
      <div class="div-block-2">
        <div class="text-block"><strong>グループ</strong></div>
      </div>
      <ul role="list" class="list">
        <li class="list-item-3"></li>
        <a href='/chats/group1'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/group.png" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/group.png , /assets/group.png" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>家族用</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10">あなた：エスカレーター降りたとこでまってる</strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/group2'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/group.png" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/group.png , /assets/group.png" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>全体連絡</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10">みつなが先生：よいのである</strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/group3'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/group.png" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/group.png , /assets/group.png" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>先生共有</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10">校長：了解です。ありがとうございます。</strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/group4'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/group.png" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/group.png , /assets/group.png" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>サークル打ち上げ</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10">あなた：おっつーーーーーーーーー</strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/group5'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/group.png" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/group.png , /assets/group.png" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>飲み会</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10">あなた：またやりましょう！ありがとうございました</strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/group6'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/group.png" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/group.png , /assets/group.png" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>写真共有</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10">あなた：画像を送信しました。</strong></div>
            </div>
          </li>
        </a>
        <a href='/chats/group7'>
          <li class="list-item-4">
            <div class="w-layout-grid grid-4"><img src="/assets/group.png" loading="lazy" width=100vw id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1d-38a68d77" srcset="/assets/group.png , /assets/group.png" sizes="(max-width: 479px) 55vw, 147px" alt="" class="image-6">
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d1e-38a68d77" class="text-block-13"><strong>個人メモ</strong></div>
              <div id="w-node-_0cb7808a-4b2d-4066-02dd-86d62fe48d20-38a68d77" class="text-block-14"><strong class="bold-text-10">あなた：おすすめのラーメンはhogehogeラーメン</strong></div>
            </div>
          </li>
        </a>
      </ul>
    </div>
  </div>
</body>
