<div id="w-node-_21ec2abb-5a28-9ecf-6837-f9a82a8857e1-084b46f8" class="navbar-logo-center wf-section">
  <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar-logo-center-container shadow-three w-nav">
    <div class="container">
      <div class="text-block-2"><strong class="bold-text">WataSns</strong></div>
    </div>
  </div>
</div>
