    <div id="w-node-_9d14a96b-b63c-34f9-ac18-66df41329f13-084b46f8" class="section-2 wf-section">
      <div class="div-block-3">
        <a href='/home/friends'>
          <div>
              <div class="w-layout-grid grid-3"><img src="/assets/home.png" loading="lazy" width="45" id="w-node-c781db50-88ab-fb5c-8fa8-bebd8e2d0b66-084b46f8" alt="">
                <div id="w-node-_8ed6763a-02df-beac-cc7d-8a583d560ce9-084b46f8" class="text-block-8"><strong class="bold-text-6">友達一覧へ</strong></div>
              </div>
          </div>
        </a>
        <a href='/home/group'>
          <div class="div-block-12">
            <div class="w-layout-grid grid-3"><img src="/assets/group.png" loading="lazy" width="45" id="w-node-_8b93173d-1ce9-d74e-7798-be90d5367975-084b46f8" alt="">
              <div id="w-node-_8b93173d-1ce9-d74e-7798-be90d5367976-084b46f8"><strong class="bold-text-5">グループ一覧へ</strong></div>
            </div>
          </div>
        </a>
        <a href='/home/chats'>
          <div class="div-block-12">
            <div class="w-layout-grid grid-3"><img src="/assets/talk.png" loading="lazy" width="45" id="w-node-_8b93173d-1ce9-d74e-7798-be90d5367975-084b46f8" alt="">
              <div id="w-node-_8b93173d-1ce9-d74e-7798-be90d5367976-084b46f8"><strong class="bold-text-5">チャット一覧へ</strong></div>
            </div>
          </div>
        </a>
      </div>
      <div class="div-block-4">
        <div class="w-layout-grid grid-5">
          <div id="w-node-a9ec9b1c-85a2-abb9-cdd7-a97ccea16c66-084b46f8"><strong class="bold-text-7">mamoru</strong></div>
          <div id="w-node-_884db2d2-63fc-3e22-7fb9-f672cf717416-084b46f8"><strong class="bold-text-8">ログイン中</strong></div><img src="/assets/IMG_0071.jpg" loading="lazy" id="w-node-_6f08f79b-edad-c9e7-b367-8d49d9f62be7-084b46f8" sizes="80vw" srcset="/assets/IMG_0071-p-500.jpeg 500w, /assets/IMG_0071-p-800.jpeg 800w, /assets/IMG_0071.jpg 923w" alt="" class="image-4">
        </div>
      </div>
    </div>